{% extends "base.html" %}
{% block content %}

<div class="content">
{% if all_sh_host %}
<form action="{% url 'LA:detailList' %} " method="POST">
    {% csrf_token %}
        <table border="1">
            <tr class="title">
                <td>No.</td>
                <td>Machine</td>
                <td>Owner</td>
                <td>OS</td>
                <td>LatestCU</td>
                <td>RebootPending</td>
                <td>Compliant</td>
            </tr>
        {% for host in all_sh_host %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'LA:details_shhost' host.machine_name %}">{{host.machine_name}}</a> </td>
                <td>{{host.owner}}</td>
                {% if host.os is None %}
                    <td>Machine turned off or offline</td>
                {% else %}
                    <td>{{host.os}}</td>
                {% endif %}
                {% if host.lastcu is None %}
                    <td>None</td>
                {% else %}
                    <td>{{host.lastcu}}</td>
                {% endif %}
                {% if host.rebootrequired == True %}
                    <td>Need Reboot</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td>{{host.compliant}}</td>
            </tr>
        {% endfor %}
        </table>
{% else %}
    <p>no host</p>
{% endif %}
</form>
</div>

{% endblock %}