body
{
}

table .title {
    color: white;
    background-color: #006699;
    font-weight: bold;
}

#header {
    margin: 10px 30px 10px 30px;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}

#navigation {
    
}
#navigation ul {
   
}

#navigation ul li {
    display: inline;
    
}

#navigation ul li a {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#divide hr{
    margin: 10px 30px 10px 30px;
}

#content {
    margin: 10px 30px 10px 30px;
}