body
{
}

table .title {
    color: white;
    background-color: black;
    font-weight: bold;
}

#header {
    margin: 10px 30px 10px 30px;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}

#navigation {
    
}
#navigation ul {
   
}

#navigation ul li {
    display: inline;
    padding: 5px
}

#navigation ul li a {
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

#navigation ul li a:visited {
    color: black;
}


#navigation ul li a:hover {
    color: white;
    background-color: grey
}


#divide hr {
    margin: 10px 30px 10px 30px;
}

#content {
    margin: 10px 30px 10px 30px;
}